@model Articles.Models.ListViewModel

<div id="content">

    <h1>@ViewBag.Title</h1>
    
   
    @if (ViewBag.ByCategory == true)
    {
        <div>
            <a asp-action="Posts" asp-controller="Blog">All Posts</a>
            &#062

            <a asp-action="Category" asp-controller="Blog" asp-route-category="@ViewBag.Category.UrlSlug"> <b>@ViewBag.Category.Name</b></a>
        </div>
    }
    else if (ViewBag.ByTag == true)
    {
        <div>
            <a asp-action="Posts" asp-controller="Blog">All Posts</a>
            &#062
            <a asp-action="Tag" asp-controller="Blog" asp-route-tag="@ViewBag.Tag.UrlSlug"><b>@ViewBag.Tag.Name</b></a>
        </div>
    }

    <div id="fullListLink"></div>
   
        @await Component.InvokeAsync("Pagination", new { total_posts = Model.TotalPosts, page_size = Model.PageSize })
   
    <div id="posts_lists">
        @if (Model.Posts.Count > 0)
        {
            foreach (var post in Model.Posts)
            {
                @Html.Partial("_PostTemplate", post)
            }
        }
        else
        {
            <p>No posts found!</p>
        }
    </div>

    <cache vary-by-query="p,category,tag" vary-by-route="action"> 
        @await Component.InvokeAsync("Pagination", new { total_posts = Model.TotalPosts, page_size = Model.PageSize })
        </cache>
</div>
