@model Articles.Models.ListViewModel

<div id="content">

    <h1>@ViewBag.Title</h1>
   
    @if (ViewBag.ByCategory == true)
    {
        <a asp-action="Posts" asp-controller="Blog">All Posts  </a>
        <a asp-action="Category" asp-controller="Blog" asp-route-category="@ViewBag.Category.UrlSlug"> <b>&#062 @ViewBag.Category.Name</b></a >


    }
    else if (ViewBag.ByTag == true)
    {
        <a asp-action="Posts" asp-controller="Blog"> All Posts</a>
        <a asp-action="Tag" asp-controller="Blog" asp-route-tag="@ViewBag.Tag.UrlSlug"><b>&#062 @ViewBag.Tag.Name</b></a>

    }


   @await Component.InvokeAsync("Pagination", new {total_posts = Model.TotalPosts, page_size = Model.PageSize })

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }


    
</div>
