@model Articles.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<div id="content">
    @if (ViewBag.Type == "All Posts")
    {
        <a asp-action="Posts" asp-controller="Blog">All Posts   </a>

    }
    else if (ViewBag.Type == "Custom"){
    <a asp-action="CustomPosts" asp-controller="Blog">Your Feed  </a>
    }
    &#062
    @if (ViewBag.RefererTag)
    {
        <a asp-action="Tag" asp-controller ="Blog" asp-route-tag="@ViewBag.Slug"> @ViewBag.Name  </a>

    }
    else
    {
        <a asp-action="Category" asp-controller="Blog" asp-route-category="@Model.Category.UrlSlug"> @Model.Category.Name  </a>

    }
    &#062
    <a asp-action="Post" asp-controller="Blog" asp-route-year="@Model.PostedOn.Year" asp-route-month="@Model.PostedOn.Month"
       asp-route-ti="@Model.UrlSlug"> <b>@Model.Title</b></a>

    <div class="post">
        <div class="post-meta">
            <div class="row">

                <div class="post-title">
                    <h1><a asp-action="Post" asp-controller="Blog" asp-route-year=@Model.PostedOn.Year
   asp-route-month=@Model.PostedOn.Month asp-route-ti=@Model.UrlSlug>@Model.Title</a></h1>
                </div>

            </div>
            <div class="row">

                <div class="post-category">
                   
                    <span>Category:</span> <a asp-action="Category" asp-controller="Blog" 
                                              asp-route-category=@Model.Category.UrlSlug>@Model.Category.Name</a>
                </div>

                <div class="post-tags">
                    <span>Tags:</span> @Html.Partial("_PostTags", Model.PostTags)
                    &nbsp
                    
                    
                    @await Component.InvokeAsync("Likes", new { post = Model })
                    &nbsp
                    @await Component.InvokeAsync("Save", new { post = Model})
                    
                </div>

                <div class="posted-date">
                    @Model.PostedOn
                </div>

            </div>

            <div class="row">
                <span>Author:</span> <a asp-action="PostsByAuthor" asp-controller="Blog"
                                        asp-route-author=@Model.Author.user_name>@Model.Author.user_name</a>
                                        @await Component.InvokeAsync("Subscribe", new { author = Model.Author })
            </div>
        </div>

        <div class="post-body">
            @Html.Raw(Model.Description)
        </div>

    </div>
</div>
