@model Articles.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<div id="content">
    @if (ViewBag.Type == "All Posts")
    {
        <a asp-action="Posts" asp-controller="Blog">All Posts  </a>

    }
    else if (ViewBag.Type == "Custom"){
    <a asp-action="CustomPosts" asp-controller="Blog">Your Feed  </a>
    }
    <a asp-action="Category" asp-controller="Blog" asp-route-category="@Model.Category.UrlSlug">&#062 @Model.Category.Name  </a>
    <a asp-action="Post" asp-controller="Blog">&#062 @Model.Title</a>

    <div class="post">
        <div class="post-meta">
            <div class="row">

                <div class="post-title">
                    <h1><a asp-action="Post" asp-controller="Blog" asp-route-year=@Model.PostedOn.Year
   asp-route-month=@Model.PostedOn.Month asp-route-ti=@Model.UrlSlug>@Model.Title</a></h1>
                </div>

            </div>
            <div class="row">

                <div class="post-category">
                    <span>Category:</span> <a asp-action="Category" asp-controller="Blog" 
                                              asp-route-category=@Model.Category.UrlSlug>@Model.Category.Name</a>
                </div>

                <div class="post-tags">
                    <span>Tags:</span> @Html.Partial("_PostTags", Model.PostTags)
                </div>

                <div class="posted-date">
                    @Model.PostedOn
                </div>

            </div>
        </div>

        <div class="post-body">
            @Html.Raw(Model.Description)
        </div>

    </div>
</div>
