@model Articles.Models.Post

<div class="post" id="@Model.UrlSlug">
    <div class="post-meta">
        <div class="row">

            <!--Heading-->
            

            <div class=" = post-category">
                <b>
                    <a asp-action="Post" asp-controller="Blog" asp-route-year=@Model.PostedOn.Year
                            asp-route-month=@Model.PostedOn.Month asp-route-ti=@Model.UrlSlug>@Model.Title</a>
                        </b>
                    </div>
            

        


       
            &nbsp
            <!--Category-->
            <div class="post-category">
                
            <a asp-action="Category" asp-controller="Blog" asp-route-category=@Model.Category.UrlSlug>@Model.Category.Name</a> 
            </div>

            <!--Tags-->
            <div class="post-tags">
                <span>@foreach (PostTag pt in Model.PostTags) { 
                    <a asp-action="Tag" asp-controller="Blog" asp-route-tag=@pt.Tag.UrlSlug> @pt.Tag.Name</a>
                }  </span>
                &nbsp
                
               
       
            </div>
                    
          <a asp-action="PostsByAuthor" asp-controller="Blog"
                                    asp-route-author=@Model.Author.user_name>@Model.Author.user_name</a>
           
            <div class="posted-date">
                @Model.PostedOn.Month/@Model.PostedOn.Date.Day/@Model.PostedOn.Year 
            </div>

            &nbsp
            <a asp-action="UnpublishPost" asp-controller="Admin" asp-route-postId="@Model.PostId">Unpublish</a> &nbsp
        </div> <!--end of row-->
            <!--Posted date-->
            

        </div>


</div>
