@model Articles.Models.AdminViewModels.AdminPostsListViewModel


@{
    Layout = "AdminLayout";
}


<body>
    <div id="main">

        <div id="site_content">
            @Html.Partial("_Search")
            <div id="content">

                <h1>@Model.posts.Count Posts</h1>

                <div class="row">
                    <!--sort by title header button-->
                    <div class="col-md-2">
                        <div class="post-category">
                            <b>
                                @Html.Partial("_SortByTitleButton", Model)
                            </b>
                        </div>
                    </div>

                    <!--sort by category button at top of column-->
                    <div class="col-md-2">
                        <b>
                            @Html.Partial("_SortByCategoryButton", Model)
                        </b>
                    </div>

                    <div class="col-md-2">
                        <b>
                            @Html.Partial("_SortByAuthorButton", Model)
                        </b>
                    </div>

                    <!-- sort of date button-->
                    <div class="col-md-2">
                        <b>
                            @Html.Partial("_SortByDateButton", Model)
                        </b>
                    </div>


                </div>



                @foreach (Post post in Model.posts)
            {
                    @Html.Partial("_AdminPost", post)
                }
            </div>
        </div>
    </div>
</body>
