<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
 
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    
   
     <!-- <script src="Url.Content("~/Scripts/app.js")"></script>
          <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
          
   Stylesheets -->
    <link rel="stylesheet" type="text/css"
          href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css"
          href="@Url.Content("~/lib/bootstrap/dist/css/themes/simple/style.css")" />
    
    
</head>

<body>
    <div id="main">

        <!-- Header -->
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="/">Demo<span class="logo_colour">Blog</span></a></h1>
                    <h2>description here</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1" id="login-div">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <!-- Navigation -->
            <div id="menubar">
                <ul id="menu">
                    <li><a asp-action="Posts" asp-controller="Blog">Posts</a></li>
                    <li> <a asp-action="CustomPosts" asp-controller="Blog">Custom Feed</a> </li>
                    <li><a asp-action="Subscribed" asp-controller="Blog">Subscribed Posts</a></li>
                    <li><a asp-action="SavedPosts" asp-controller="Blog" data-ajax="true" 
                           data-ajax-mode="replace-with" data-ajax-update="#content"
                           data-ajax-success="savedFullLink">Saved Posts</a></li>
                    <li><a asp-action="Customize" asp-controller="Blog">Account Settings</a></li>
                 
                  
                   
                </ul>
               
                

            </div>

            

            <div id="breadcrumbs">
               
            </div>

        </div>

        <!-- Site Content -->
        <div id="site_content">
            
            @Html.Partial("_AjaxSearch")
            <div id="undoButton"></div>
            @RenderBody()

            <!--calls a 'child action' which creates a widget view model and returns the sidebar partial view given the model-->
           
            @await Component.InvokeAsync("Sidebar")
             
        </div>

        <!-- Footer -->
        <div id="footer">
            @DateTime.Now.Year 
        </div>
    </div>
</body>
</html>

@RenderSection("scripts", required: false)